* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.textStart {
    font-size: large;
}

/* Styling for all sections */

#mainSection, #mainSection2, #mainSection3 {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 500px;
    background-color: bisque;
    text-align: center; 
    align-items: center;
    border-radius: 30px;
}

#mainSection2, #mainSection3 {
    display: none;
}

.inputGuess {
    width: 200px;
}

.buttonGuess, .buttonStart, .buttonRetry {
    width: 100px;
}

/* Commit */